body{
    background-color: aliceblue;
}

/*
*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
*/

/*
.bottomnav{
    color:firebrick
}

.bottomnav li{
    font-family: "Courier New", Courier, monospace;
}

.bottomnav a{
    font-family: "Courier New", Courier, monospace;
}
*/

p {
    margin: 10px;
}

h1 {
    margin: 10px;
}

img {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 20px;

    border-style: double;
}

form fieldset {
    margin: 10px;
}

form button {
    margin-top: 20px;
}

iframe {
    margin: 10px;
}